.footerClass {
    position:fixed;
    overflow:hidden;
    bottom:0;
    width:100%;
    height: 46px;
    background-color: #010B02;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(27, 175, 22);
}

.text-center {

color: hsl(126, 83%, 2%)   
}